:root {
    --bg: #0E0E10;
    --bg2: #18181B;
    --bg3: #464649;
    --primary: #A56EF9;
    --text: #EFEFF1;
}

html{
    box-sizing: border-box;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

body {
    background-color: var(--bg);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

h1, h2, p, a {
    color: var(--text);
}

a {
    text-decoration: none;
    font-size: 15px;
}

h1 {
    font-size: 32px;
    font-weight: 700;
}

h2 {
    font-size: 18px;
    font-weight: 100;
}

p {
    font-size: 15px;
}

span {
    color: var(--primary);
    font-weight: 700;
}

input {
    margin-bottom: 1.5rem;
}

label {
    font-size: 18px;
}

input[type="text"]{
    background-color: var(--bg);
    border: none;
    border-radius: .6rem;
    padding: .8rem;
}

input[type="checkbox"] + label{
    color: var(--text);
}

input[type="checkbox"]:checked {
    background-color: var(--primary);
}

.contenedor {
    max-width: 120rem;
    width: 31%;
}

.formulario {
    background-color: var(--bg2);
    padding: 2rem;
    border-radius: 1rem;
    border-top: 6px solid var(--primary);
}

.section {
    border-bottom: 1px solid var(--bg3);
}

.opciones {
    display: flex;
    justify-content: space-between;
}

.botones {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
   margin-top: 2rem;
}

.boton {
    background-color: var(--bg3);
    padding: 1rem;
    text-align: center;
    border-radius: 1rem;
    width: 100%;
}

.selected {
    background-color: var(--primary);
}